.defaultPill{
    margin: 2px;
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border: 0;
}

.pillInnerWrapper{
    gap: 4px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
}
.closeButton{
    border: 0;
    cursor: pointer;
    font-size: 8px;
    padding: 0;
    background-color: transparent;
    color:currentColor;
}
button{
    border: 0
}
